package pages

import (
    "goth/web/layout"
    "goth/web/components/forms"
    "goth/types"
)

templ Register() {
    @layout.Base() {
        <div class="w-full max-w-lg mx-auto my-14">
            <h1 class="font-semibold text-xl mb-4">Create a new account</h1>
            @forms.RegisterForm(types.RegisterUserValues{}, types.RegisterUserErrors{})
        </div>
    }
}