package inputs 

templ InputButton(text string) {
	<input class="cursor-pointer !bg-primary-light hover:!bg-primary text-white font-medium w-full px-4 py-3 rounded-lg transition" type="submit" value={ text }/>
}
